<div ng-controller="ProvincesController">

        <h1>Canada</h1>
        <p>A list of provinces and their populations. This data is from the most recent studies of data available.</p>
        
                <div class="row">
                        <div class="col-md-2 col-md-offset-10">
                                <form class="form-inline">
                                        <div class="form-group">
                                                <label class="sr-only" for="exampleInputEmail3">Filter Provinces</label>
                                                <input type="text" class="form-control" id="filterProvs" ng-keydown="setFilter()" placeholder="Filter Provinces" ng-model="filterString">
                                        </div>
                                </form>
                        </div>
                </div>

        	<table class="table table-striped table-hover table-responsive all-provinces">
        		<thead>
        			<tr>
        				<th ng-click="setSort('provinceName')">Province Name</th>
        				<th ng-click="setSort('provincePopulation')">Province Population</th>
        			</tr>
        		</thead>
        		<tbody>
        			<tr ng-repeat="prov in provinceData | orderBy:column:reverse" ng-click="go(prov.provinceCode)">
        				<td><em>{{prov.provinceName}}</em></td>
        				<td>{{prov.provincePopulation | number}}</td>
        			</tr>
        		</tbody>
        	</table>	
        </div>